body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #111;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar a {
    text-decoration: none;
}

.sidebar button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #555;
}

/* Main content */
.content {
    flex: 1;
    padding: 30px;
    background-color: #ebd4c5;
}

#home{
    background-color: rgb(117, 147, 239);
}

#portfolio{
    background-color: rgb(167, 115, 215);
}

#log-inn{
    background-color: rgb(253, 202, 72);
}